body {
  margin: 0;
  font-family: 'Svn-Gilroy' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Svn-Gilroy';
  font-weight: 400;
  src: local('Svn-Gilroy'), local('./assets/font/SVNGilroy-Light.otf') format('truetype');
}


@font-face {
  font-family: 'Svn-Gilroy';
  font-weight: 700;
  src: local('Svn-Gilroy'), local('./assets/font/SVNGilroy-Bold.otf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
